
img{
  border: 2px solid black;
  margin-top: 5em;
}



/*classes*/
.imgBox{
}

.header{
  background-color: #FF3399;
  color: white;
  margin-bottom: 10px;
  padding: 5em;
}

ul li{
  color: black;
}
.row{
}

.row:nth-child(2n){
  background-color: rgba(192,192,192,0.1);
}
